/* compeople */

QWidget [widgetType="scrollareaContent"], QGroupBox {
	background: #f2f6f9;
}

QMenuBar {
	padding: 0 0 0 0;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop : 0.0 #c4d3de, stop: 0.7 #fff);
	background-image: url('/home/jmb/work/compeople/workspace/org.eclipselabs.swtqt.advancedstyler/icons/compeople-logo.gif');
	background-repeat: no-repeat;
	background-position: right;
}

QMenuBar::item {
	margin-top: 55px;
	padding: 5px;
	background-color: transparent;
}

QMenu {
	background-color: #c4d3de;
}

QMenuBar::item:selected, QMenu::item:selected {
	background: #fff;
	color:black;
}

/* Tree */

QTreeWidget {
	background: #ffffec;
	selection-background-color: #ff8c1a;
	alternate-background-color: #f5f5ce;
	padding: 0px;
}

QHeaderView {
	border: 0px;
	height: 25px;
}

QHeaderView::section {
	color: black;
	padding-left: 4px;
	background-color: #c4d3de;
}

QListView {
	padding: 0px;
	height: 20px;
	background: #ffffec;
	selection-background-color: #ff8c1a;
	color: black;
}

QComboBox {
	height: 20px;
	padding: 0px;
	border: 1px solid #00416a;
	border-radius: 4px;
	color: black;
}

QComboBox QAbstractItemView {
	background-color: #fff;
	border-width: 0px 1px 1px 1px;
	border-color: #00416a;
	border-style: solid;
	border-radius: 4px;
}

QLabel {
	color: #00416a;
	font: bold large "Arial";
}

QTextEdit,QLineEdit {
	border: 1px solid transparent;
	padding: 0px;
	color: black;
	background: #fff;
}

QLineEdit:hover {
	border: 1px solid #ff8c1a;
}

QPushButton {
	border: 1px solid #00416a;
	border-radius: 4px;
	padding: 4px;
	background-color: #c4d3de;
	color: #00416a;
	font-weight: bold;
}

QPushButton:hover {
	border: 1px solid #ff8c1a;
}

QPushButton:disabled {
	color: #aaa;
}

QCheckBox {
	border: 0px;
	border-radius: 0px;
	color: black;
	spacing: 4px;
}

QCheckBox:hover {
	background: qlineargradient(x1 : 0, y1 : 0, x2 : 0, y2 :   1, stop :   0.0 #ffd9aa,
		stop :   0.5 #ffbb6e, stop :   0.55 #feae42, stop :   1.0 #fedb74);
}


/* Table */

QTableView {
	background: #f2f6f9;
	alternate-background-color: #eee;
	padding: 0px 0px 0px 0px;
	color: black;
	selection-background-color: #566fcb;
	selection-color: white;
	gridline-color: #e3efff;
}
QTableView::item:hover {
	background: qlineargradient(x1 : 0, y1 : 0, x2 : 0, y2 :   1, stop :   0.0 #ffd9aa,
		stop :   0.5 #ffbb6e, stop :   0.55 #feae42, stop :   1.0 #fedb74);
}


QTableCornerButton::section {
	background: #575757;
	border: 0px;
}

